:root {
  --accent-primary: #84dbfa
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Thin'),
    url('../assets/fonts/Roboto-Thin.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Thin.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'),
    url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
    url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.root {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 100vh);
  grid-row-gap: 24px;

}

button {
  margin: 1rem;
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: var(--accent);
  box-sizing: border-box;
  transition: border-bottom, border-right .3ms ease-in;

  &:hover {
    background-color: var(--accent);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

header{
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1530685220108-0ebdc8c85742?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
}

.line {
  stroke: var(--accent-primary)
}